<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Clientes</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/add_cliente">Cadastrar Clientes</a></li>
                <li><a href="/add_funcionario">Cadastrar Funcionário</a></li>
                <li><a href="#">Cadastrar Produto</a></li>
                <li><a href="#">Cadastrar Estoque</a></li>
                <li><a href="#">Cadastrar Tarefas</a></li>
            </ul>
        </nav>
    </header>
    <div class="container info">
        
        <form  method="POST" action="/edit_cliente/{{cliente.id_cliente}}">
            <h2>Editar </h2>
            <br>
            <label for="nome">Nome: </label>
            <input type="text" id="nome" name="nome" value="{{cliente.nome_cliente}}">
            <label for="cpf">CPF: </label>
            <input type="text" id="cpf" name="cpf" value="{{cliente.cpf_cliente}}">
            <label for="email">E-Mail: </label>
            <input type="text" id="email" name="email" value="{{cliente.email_cliente}}">
            <button type="submit" value="Submit">Salvar</button>
            <button type="reset">Limpar</button>
        </form>
    </div>
    <footer>
        <h2>Desenvolvido por Victor Gabriel</h2>
    </footer>
</body>
</html>
