<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Clientes</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="/add_cliente">Cadastrar Clientes</a></li>
                <li><a href="/add_funcionario">Cadastrar Funcionário</a></li>
                <li><a href="#">Cadastrar Produto</a></li>
                <li><a href="#">Cadastrar Estoque</a></li>
                <li><a href="#">Cadastrar Tarefas</a></li>
            </ul>
        </nav>
    </header>
    <div class="container info">
        <h1>Lista de Clientes</h1>
        <table >
            <thead>
                <tr>
                    <td>Nome</td>
                    <td>CPF</td>
                    <td>E-mail</td>
                    <td>Ações</td>
                </tr>
            </thead>
            <tbody>
                {% for cliente in clientes %}
                <tr>
                    <td>{{ cliente.nome_cliente }}</td>
                    <td>{{ cliente.cpf_cliente }}</td>
                    <td>{{ cliente.email_cliente }}</td>
                    <td>
                        <a href="/edit_cliente/{{ cliente.id_cliente }}">Editar</a>
                        <a href="/delete_cliente/{{ cliente.id_cliente }}">Excluir</a>
                    </td>
                </tr>
                <hr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="container info">
        <h1>Lista de Funcionarios</h1>
        <table >
            <thead>
                <tr>
                    <td>Nome</td>
                    <td>CPF</td>
                    <td>E-mail</td>
                    <td>Ações</td>
                </tr>
            </thead>
            <tbody>
                {% for funcionario in funcionarios %}
                <tr>
                    <td>{{ funcionario.nome_funcionario }}</td>
                    <td>{{ funcionario.cpf_funcionario }}</td>
                    <td>{{ funcionario.email_funcionario }}</td>
                    <td>
                        <a href="/edit_funcionario/{{ funcionario.id_funcionario }}">Editar</a>
                        <a href="/delete_funcionario/{{ funcionario.id_funcionario }}">Excluir</a>
                    </td>
                </tr>
                <hr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <footer>
        <h2>Desenvolvido por Victor Gabriel</h2>
    </footer>
</body>
</html>
